// why? to break out of .wrapper
// https://css-tricks.com/full-width-containers-limited-width-parents/
.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-height: 275px;
  overflow: hidden;
  width: 100vw;

  img {
    width: 100%;
  }
}





.logos {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  padding: 24px 0;
}
.logo {
  opacity: 1.0;
}
@media only screen and (min-width: 768px) {
  .logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo {
    filter: grayscale(100%);
    opacity: 0.66;

    &:hover {
      filter: grayscale(0%);
      opacity: 1.0;
    }
  }
}





.head-shot {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 66vw;
  max-width: 100%;
}

@media (min-width: 768px) {
  .head-shot {
    float: left;
    margin-left: -72px;
    margin-right: 24px;
    max-width: 250px;
  }
}





.about-skills {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  list-style: none;
  margin: 24px 0;
  padding: 0;
  text-align: center;

  .skill-graphic {
    font-size: 3rem;
    display: block;
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .about-skills {
    grid-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}





// .contact-gear {
//   display: block;
//   margin: 0 auto;
//   width: 33vw;
// }
//
// @media (min-width: 768px) {
//   .contact-gear {
//     max-width: 170px;
//   }
// }
