a:link {
  border-bottom-color: $color-link;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  color: $color-link;
  text-decoration: none;
}
a:visited {
  border-bottom-color: $color-neutral-1;
  color: $color-visited;
}
a:hover,
a:visited:hover {
  border-bottom-color: $color-interactive;
  border-bottom-style: solid;
  color: $color-interactive;
}
a:focus,
a:visited:focus {
  border-bottom-color: transparent;
  color: $color-interactive;
  outline: none;
}
a:focus-visible {
  outline: 1px solid $color-interactive;
}
a:active {
  border-bottom-color: $color-visited;
  color: $color-visited;
  outline: none;
}
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  border-bottom: none;
}





.btn,
a.btn {
  border-radius: 9px;
  border: 1px solid $color-neutral-1;
  display: inline-block;
  padding: 9px;

  &:focus {
    outline: 1px solid $color-darkest;
    color: $color-darkest;
  }
}

.btn-primary,
a.btn-primary,
.btn-success,
a.btn-success {
  background-color: $color-interactive;
  border-color: transparent;
  color: $color-lighest;

  &:hover {
    background-color: $color-primary-1;
    color: $color-darkest;
  }

  &:focus {
    background-color: $color-lighest;
    color: $color-darkest;
    outline: 3px solid $color-interactive;
  }

  &:active {
    background-color: $color-darkest;
    color: $color-lighest;
  }
}





a:link.site-title,
a:visited.site-title,
a:hover.site-title,
a:active.site-title,
{
  border: none;
  color: $color-darkest;
}

$header-height: 60px;

.site-header {
  background-color: $color-lighest;
  box-sizing: border-box; // why? to accurately offset content w/ fixed position
  border-top: none; // why? resetting minima theme
  box-shadow: 1px 1px 3px $color-primary-1;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: $z-top;
}

.page-content {
  background-color: $color-lighest;
  padding-top: $header-height; // why? resetting minima theme
}

.site-nav {
  .page-link {
    border-bottom-color: $color-link;
    border-bottom-style: none;
    margin-right: 0 !important;
    padding: 18px 36px;

    &:focus {
      border-bottom-color: transparent;
    }
  }
  .current-page {
    border-bottom-color: transparent;
    color: $color-link;

    &:after {
      content: " \2713";
      font-size: ms(-2);
      color: $color-neutral-2;
    }
  }
}

@media (orientation: landscape) {
  .site-nav .page-link {
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .site-nav .page-link {
    padding: 16px;
  }
  .site-nav .current-page {
    border-bottom: 5px solid $color-primary-1;
    &:after {
      content: "";
    }
  }
}

.site-footer {
  color: $color-neutral-2;

  .social-media-list a:hover *,
  a:link, a:visited, a:hover, a:active {
    border: none;
    text-decoration: none; // why? override minima theme
  }
}
