---
---

// V1
// $family-body: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
// $family-headings: "Cormorant Garamond", Courier, serif;

// V2
$family-body: "PT Serif", Georgia, serif;
$family-headings: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;

$size-small: 14px;
$size-regular: 20px;
$size-lg: 22px;
$size-xl: 26px;
$size-xxl: 30px;
$size-xxxl: 34px;

$lh-regular: $size-regular * 1.3;
$lh-small: $size-small * 1.3;

$weight-regular: 400;
$weight-bold: 700;

body, 
div, 
p {
  font-family: $family-body;
  font-weight: $weight-regular;
  font-size: $size-regular;
  line-height: $lh-regular;
}

small {
  font-size: $size-small;
  line-height: 1.0;
}

pre.highlight {
  border-bottom: 1px solid #DDD !important;
}

pre code {
  background-color: transparent !important;
  font-family: monospace !important;
  font-size: $size-small;
  line-height: $lh-small;
  white-space: pre-wrap;
}

header nav {
  font-family: $family-headings !important; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-headings !important; 
  font-weight: $weight-bold;
  
  &:before {
    content: none !important;
  }
}

h1 { font-size: $size-xxxl !important; line-height: $size-xxxl * 1.1; }
h2 { font-size: $size-xxl !important; line-height: $size-xxl * 1.1; }
h3 { font-size: $size-xl !important; line-height: $size-xl * 1.1; }
h4 { font-size: $size-lg !important; line-height: $size-lg * 1.1; }

blockquote {
  border-left: 3px solid #ddd !important;
  font-style: italic;
  margin: 20px;
  padding-left: 10px !important;
  
  p {
    font-family: Georgia, serif !important;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 30px;
  }
}

#main-content {
  h1, h2, h3, h4, h5, h6 {
    text-indent: 0 !important;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $lh-regular / 2 !important;
    margin-top: $lh-regular * 2 !important;
  }
  
  h1:first-of-type {
    margin-top: 0 !important;
  }
  h1 + h2,
  h2 + h3,
  h3 + h4 {
    margin-top: 0 !important;
  }
  
  h1 small { color: #666; }
  h2 small { color: #666; }
  
  p:first-of-type {
    margin-bottom: 5px !important;
  }

  h1 {
    border-bottom: 2px solid #bbb;
  }

  h2 {
    border-bottom: 1px dashed #ddd;
  }
}

footer {
  font-family: $family-body;
  font-weight: $weight-regular;
  font-size: $size-small;
  line-height: $lh-small;
}