<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <h2>
            <a href="{{ '/' | absolute_url }}">About</a>
          </h2>
          
          {% if site.social.email %}
            <h2>
              <a href="mailto:{{ site.social.email }}" title="Email">
                <span class="icon icon-at"></span>
                Email
              </a>
            </h2>
          {% endif %}
          {% if site.social.linkedin %}
            <h2>
              <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="LinkedIn">
                <span class="icon icon-social-linkedin"></span>
                LinkedIn
              </a>
            </h2>
          {% endif %}
          {% if site.social.github %}
            <h2>
              <a href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub">
                <span class="icon icon-social-github"></span>
                GitHub
              </a>
            </h2>
          {% endif %}
          {% if site.social.twitter %}
            <h2>
              <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
                <span class="icon icon-social-twitter"></span>
                Twitter
              </a>
            </h2>
          {% endif %}

          <h2>Case Studies</h2>
          <ul>
          {% for case_study in site.case_studies %}
            <li>
              <a href="{{ case_study.url | relative_url }}" title="{{ case_study.title }}">
                <h3>
                  {{ case_study.title }}
                </h3>
              </a>
            </li>
          {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>